# Explore Weather

Create your own EDA below! Create as many code-blocks as you need.

Once you've completed your EDA, complete the section titled **Reflections** where you will answer questions about your EDA.

In [ ]:
from scipy.stats import pearsonr
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticks
import plotly.express as px

In [3]:
# import data
weather1 = pd.read_csv("../data/weather/weather_data1.csv")
weather2 = pd.read_csv("../data/weather/weather_data2.csv")

In [4]:
weather1

,year,rain_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,subdivision
0,2006,6.670968,21.803087,27.190323,18.654839,97.129032,57.806452,9.706452,2.075207,Minas Gerais
1,2007,1.866250,23.040999,27.649375,18.753125,87.837500,48.493750,8.749375,2.069605,Minas Gerais
2,2008,3.777049,20.682400,27.000000,16.216393,96.136612,51.415301,8.865027,1.584408,Minas Gerais
3,2009,3.380220,21.023802,27.769231,16.410440,96.054945,49.329670,9.114286,1.611746,Minas Gerais
4,2010,2.183516,21.444293,28.580769,16.156044,95.247253,44.648352,9.109341,1.455907,Minas Gerais
5,2011,2.601786,20.959536,27.735714,16.318132,96.060440,49.252747,8.974176,1.557709,Minas Gerais
6,2012,2.255738,21.030624,28.406011,16.003279,96.060109,46.366120,9.000000,1.483515,Minas Gerais
7,2013,3.079121,21.088660,27.976923,16.386813,96.802198,49.390110,8.749451,1.459356,Minas Gerais
8,2014,1.617582,21.163462,28.406044,15.684066,96.214286,44.824176,8.429121,1.238874,Minas Gerais

In [5]:
weather2

,year,rain_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,subdivision
0,2015,2.876923,21.346828,28.487912,16.475275,97.450549,48.406593,8.549451,1.193435,Minas Gerais
1,2016,2.641860,21.630402,28.855233,16.705233,97.587209,47.587209,8.377907,1.158309,Minas Gerais
2,2017,2.052459,21.404627,28.433607,16.409016,97.155738,47.475410,7.484426,0.969464,Minas Gerais
3,2018,3.567568,21.325718,28.659459,16.174324,98.290541,47.047297,8.205405,0.901090,Minas Gerais
4,2019,3.443956,21.733539,29.010989,16.658791,98.115385,48.230769,7.930220,0.905517,Minas Gerais
5,2020,4.545355,20.884335,27.938251,16.321311,98.010929,51.005464,7.730055,0.900751,Minas Gerais
6,2021,2.715385,20.831525,28.626374,15.268681,97.049451,44.824176,7.782418,0.847070,Minas Gerais
7,2022,3.769231,20.704556,28.110440,15.748901,97.351648,48.543956,7.898352,0.929144,Minas Gerais
8,2023,4.106593,21.046566,28.732967,15.908791,98.500000,48.857143,7.793956,0.812202,Minas Gerais

In [6]:
# TODO: concatenate your data files together and save to a new csv file ("../data/weather/weather_data.csv")
weather = pd.concat([weather1, weather2], ignore_index=True)
weather.to_csv("../data/weather/weather_data.csv", index=False)

In [7]:
# TODO: view first 5 rows of your data
weather.head()

,year,rain_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,subdivision
0,2006,6.670968,21.803087,27.190323,18.654839,97.129032,57.806452,9.706452,2.075207,Minas Gerais
1,2007,1.866250,23.040999,27.649375,18.753125,87.837500,48.493750,8.749375,2.069605,Minas Gerais
2,2008,3.777049,20.682400,27.000000,16.216393,96.136612,51.415301,8.865027,1.584408,Minas Gerais
3,2009,3.380220,21.023802,27.769231,16.410440,96.054945,49.329670,9.114286,1.611746,Minas Gerais
4,2010,2.183516,21.444293,28.580769,16.156044,95.247253,44.648352,9.109341,1.455907,Minas Gerais

In [8]:
# TODO: describe your numeric columns
weather.describe()

,year,rain_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,2014.500000,3.175087,21.285831,28.198312,16.458525,96.502990,48.528039,8.469412,1.286295
std,5.338539,1.190658,0.549483,0.564714,0.891070,2.345644,3.010135,0.611327,0.399773
min,2006.000000,1.617582,20.682400,27.000000,15.268681,87.837500,44.648352,7.484426,0.812202
25%,2010.250000,2.342250,20.975602,27.811486,16.041470,96.079483,47.154325,7.906319,0.911424
50%,2014.500000,2.978022,21.126061,28.406027,16.319722,97.089241,48.450172,8.489286,1.216155
75%,2018.750000,3.718815,21.434377,28.614973,16.459066,97.553044,49.310440,8.946889,1.539160
max,2023.000000,6.670968,23.040999,29.010989,18.753125,98.500000,57.806452,9.706452,2.075207

In [10]:
# TODO: display the null values in your dataframe
weather.isnull().sum()

year           0
rain_max       0
temp_avg       0
temp_max       0
temp_min       0
hum_max        0
hum_min        0
wind_max       0
wind_avg       0
subdivision    0
dtype: int64

In [ ]:
# TODO: BEGIN YOUR EDA!
# time series analysis

## Reflections

Answer each question based on the visualizations that you've generated.

Remember, you must justify your answers with proof! Look back to W6D3 for more context.

How is average temperature changing across the years for Minas Gerais? Is this increasing or decreasing?

Answer here

How is minimum humidity changing across the years for Minas Gerais? Is this increasing or decreasing?

Answer here

How is average wind speed changing across the years for Minas Gerais? Is this increasing or decreasing?

Answer here

Which year had the highest maximum record rainfall?

Answer here

What is the relationship between max rain and max humidity? How *strong* is this relationship? Use pearson's correlation coefficient.

Answer here

What is the relationship between average wind speed and average temperature? How *strong* is this relationship? Use pearson's correlation coefficient.

Answer here